@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO use tailwind */

body { 
  /* background: rgb(164,163,185); */
  /* background: linear-gradient(90deg, rgba(164,163,185,0.3519608527004552) 0%, rgba(96, 165, 250, 0.651) 100%);  */
  font-family: sans-serif;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #E5E7EB, #BFDBFE);
}

::-webkit-scrollbar {
  width: 8px;
  height: 0px;
}